<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <filter>
	<filter-name>Session Closing Filter</filter-name>
    <filter-class>server.SessionClosingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Session Closing Filter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>server.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>server.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileListingServlet</servlet-name>
    <servlet-class>server.FileListingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>server.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PermissionCheckServlet</servlet-name>
    <servlet-class>server.PermissionCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DataVerificationServlet</servlet-name>
    <servlet-class>server.DataVerificationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MetadataServlet</servlet-name>
    <servlet-class>server.MetadataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IdListingServlet</servlet-name>
    <servlet-class>server.IdListingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FolderCreationServlet</servlet-name>
    <servlet-class>server.FolderCreationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileRemovalServlet</servlet-name>
    <servlet-class>server.FileRemovalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileListingServlet</servlet-name>
    <url-pattern>/GetFiles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PermissionCheckServlet</servlet-name>
    <url-pattern>/CheckPermission</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DataVerificationServlet</servlet-name>
    <url-pattern>/VerifyData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MetadataServlet</servlet-name>
    <url-pattern>/GetMetadata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IdListingServlet</servlet-name>
    <url-pattern>/ListIds</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FolderCreationServlet</servlet-name>
    <url-pattern>/CreateFolder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileRemovalServlet</servlet-name>
    <url-pattern>/RemoveFile</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
            30
        </session-timeout>
  </session-config>
</web-app>